@font-face {
  font-family: 'MySolaimanLipi';
  src: url('../font/SolaimanLipi_22-02-2012.woff2') format('woff2'),
       url('../font/SolaimanLipi_22-02-2012.woff') format('woff'),
       url('../font/SolaimanLipi_22-02-2012.ttf') format('truetype');
}


@media print {
   .dontPrint { display: none !important; }
}


body 
{
	background-color:#9CF;
	font-family: MySolaimanLipi, Verdana, Geneva, sans-serif;
	font-size:16px;
	
/*
	background: #fed58e url(img/bg-body.png) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0px;
    padding: 0px;
*/
}

/*
body, html {
  scrollbar-face-color: ThreeDFace !important;
  scrollbar-shadow-color: ThreeDDarkShadow !important;
  scrollbar-highlight-color: ThreeDHighlight !important;
  scrollbar-3dlight-color: ThreeDLightShadow !important;
  scrollbar-darkshadow-color: ThreeDDarkShadow !important;
  scrollbar-track-color: Scrollbar !important;
  scrollbar-arrow-color: ButtonText !important;
}
*/


/* mm new */

.custom_scrollbar {
	margin: 20px auto;
	height: 300px;
	width: 500px;
	overflow: scroll;
	padding: 0 20px 0 0;
}


.custom_scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.custom_scrollbar::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-webkit-border-radius: 5px;
}
.custom_scrollbar::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}
.custom_scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.custom_scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
	background: red;
}
.custom_scrollbar::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(10,0,0,.2);
	-webkit-border-radius: 6px;
}



/*
.custom_scrollbar::-moz-scrollbar {
	width: 10px;
	height: 10px;
}


.custom_scrollbar::-moz-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-moz-border-radius: 5px;
}

.custom_scrollbar::-moz-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-moz-border-radius: 6px;
}
.custom_scrollbar::-moz-scrollbar-thumb:vertical:hover,
.custom_scrollbar::-moz-scrollbar-thumb:horizontal:hover {
	background: red;
}
.custom_scrollbar::-moz-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,.2);
	-moz-border-radius: 6px;
}

*/

/* mm new */

.main
{
	width:1124px; text-align:left;

	
}

.logo 
{
	margin:2px;
	float:left;
}

.logo img
{
	width:60px;
	height:60px;	
}

.ins_name
{
	border-radius:10px;
	background-color:#3398ff;
	text-align:center;
	float:left;
	color:#FC0;
	/*text-shadow:1px 1px #DFA643;*/
	font-size:30px;
	padding:7px;
	font-weight:bold;

	/*animation-timing-function:infinite;*/

  
    width: 1105px;
	box-shadow:0 2px 2px rgba(0,0,0, .5);

background: -moz-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%);  /*ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */

-webkit-box-shadow: 3px 3px 15px 3px rgba(0, 50, 0, 1);
box-shadow: 3px 3px 15px 3px rgba(0, 50, 0, 1);

	/*
	background: rgba(65,149,70,1);
	background: -moz-linear-gradient(left, rgba(65,149,70,1) 0%, rgba(0,66,1,1) 97%, rgba(0,66,1,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,149,70,1)), color-stop(97%, rgba(0,66,1,1)), color-stop(100%, rgba(0,66,1,1)));
	background: -webkit-linear-gradient(left, rgba(65,149,70,1) 0%, rgba(0,66,1,1) 97%, rgba(0,66,1,1) 100%);
	background: -o-linear-gradient(left, rgba(65,149,70,1) 0%, rgba(0,66,1,1) 97%, rgba(0,66,1,1) 100%);
	background: -ms-linear-gradient(left, rgba(65,149,70,1) 0%, rgba(0,66,1,1) 97%, rgba(0,66,1,1) 100%);
	background: linear-gradient(to right, rgba(65,149,70,1) 0%, rgba(0,66,1,1) 97%, rgba(0,66,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#419546', endColorstr='#004201', GradientType=1 );
	*/

}



.ins_name span
{
	color:#CFF;

	font-size:16px;
}

.c_b
{
	clear:both;	
}
.body_left
{
    width: 240px;
    float: left;
}
.body_right
{
	border-radius:10px;
    width: 840px;
    background: #FDF6EA;
    float: left;
    padding:15px;
    min-height: 960px;
	margin-left:5px;
	box-shadow:0 2px 2px rgba(0,0,0, .5);
}

.side_menu
{
	/*
	border-radius:10px;
	width:230px;
	background:#0065cc;
	text-align: center;
	
	*/
	

	width:238px;
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
	
}


.side_menu div
{


	
	/*
	border-radius:10px;
	background:#003366;
	width:210px; 
	height:40px;
	font-size:18px;
	color:#ffffff;
	text-decoration:none;
	font-family:PTSerif-Caption;
	margin-bottom:5px;
	line-height:40px;
	*/
	/*
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
*/
	

}

.side_menu div:hover
{
	background:#004c99;	
}


.side_menu div a
{
	color:#FFF;
	text-decoration:none;	
}


.download, .link, .slide
{
	/*
	border-radius:10px;
	background:#0065cc;
	margin: 0 0 24px;
	padding: 0 0 6px;
	width:210px;
	padding:10px;
	margin:10px 0px;
	text-align:left;
	border:1px solid #004c99;
	*/
	padding:10px;
	margin:5px 0px 0px 5px;	
		
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

}




.notice
{
	float:right;
	width:310px;
	height:290px;
	color:#FC0;
	
	/*
	margin: 0 0 24px;
	padding: 0 0 6px;
	*/
	padding:5px;	
	margin:0px 5px 10px 0px;
	/*text-align:justify;*/

	border-radius:10px; 
	border:1px solid #004c99;
	/*box-shadow:0 2px 2px rgba(0,0,0, .5);*/
	
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; 
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

}


.list
{
	min-height: 200px;
}

.download_head, .link_head, .notice_head
{
    background:#3498DB url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
	
	/*
	border-radius:10px;
	background-color:#004c99;
	color:#FFF;
	*/
	margin: 5px;
	color:#F3FA91;
	 text-shadow: 1px 1px #333; 
	padding:5px;
	font-size:20px;
    text-align: center;
	font-weight:bold;
	
}

.download a, .link a, .notice a
{
	/*text-decoration:underline;*/
	color:#FFC;
	font-family:SolaimanLipi;
	font-weight:bold;
	font-size:15px;
	line-height:35px;


	/*
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
	*/
}

.download a:hover, .link a:hover, .notice a:hover
{
	/*color:#FF0;*/

	/*
    background:#335599 url(img/bg.png) repeat-x 0 -100px;
    color:#fff;
	padding:5px;

    border-radius:10px; 
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
     text-shadow:0 2px 2px rgba(0,0,0, 0.7);
	*/
    background:#7788aa url(img/bg.png) repeat-x 0 -20px;
    color:#000;
    border-top:1px solid #f8f8f8;
	padding:5px;

	border-radius:10px; 
    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
   text-shadow:0 2px 2px rgba(255,255,255, 0.7); 
	
		
}

.home
{
    /*min-height: 420px;*/
	
	height:350px;
	overflow:auto;
	width:820px;
    padding: 5px;
	border-radius:10px;

}

.cms
{
    /*min-height: 420px;*/
	
	height:760px;
	overflow:auto;
	width:830px;
    padding: 5px;
	border-radius:10px;
}

.gra
{
    background:-moz-linear-gradient(center top , #FCFCFC 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #cccccc;
    box-shadow: 2px 0 4px 0 #DDDDDD;
}

.head_section
{
    padding-bottom: 15px;
}
.news_section
{
    margin: 5px 0px;
}
.news_head
{
    /*display:inline-block;
    width:100%;
	*/
    float: left;
    width: 240px;
   	line-height: 40px;
    font-size: 25px;
    text-align: center;
 text-shadow:1px 1px #DFA643; 
    color: #FFF;
   /* font-weight: bold; */


	
    margin:0px auto;
    padding:0;
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);	
	/*
	border-radius:10px;
    background:#004c99 ;
    float: left;
    width: 230px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    text-shadow:1px 1px #DFA643;
    color: #FFF;
    font-weight: bold;
	*/
}
.news_text
{
	border-radius:10px;
    float: left;
    background: #3398ff;
   text-shadow: 1px 1px #003366;
    line-height: 40px;
    font-size: 25px;
    color: #ffffff;
    /* font-weight: bold; */
    width: 870px;
    height: 40px;
	margin-left:10px;
	box-shadow:0 2px 2px rgba(0,0,0, .5);
}

.body_section
{
    border-bottom: 1px solid #ffffff;
}

.spe_menu
{
    width: 100%;
}
.spe_menu tr td
{
    width: 25%;
}

.spe_menu tr td a
{
    color: #593E0F;
    text-decoration: none;
}

.footer
{
    width: 100%;
    padding: 10px 0px;
    color:#593E0F;
}
.footer tr td:last-child{ text-align: right;}
.footer tr td:first-child{ text-align: left;}
.footer tr td a{ text-decoration: none; color:#000;}

.next{float: right;}
.next, .previous{ cursor: pointer;}

ul{ margin: 0px; padding: 0px;}
li{ list-style: none;}

.list ul li{ border-bottom: 1px dashed #5C3B10;}
.list ul li:last-child{ border: none;}

.menu { position: relative; z-index:100; text-align: center; margin-bottom: 5px; background:#0065cc; border-radius:10px;}
.web_menu{ font-size: 18px;}
.admin_menu{ font-size: 16px;}
.menu ul{ margin:0px;  padding:0px;}
.menu ul li{ list-style:none; display:inline-block; position:relative; cursor:pointer;}
.web_menu ul li{ padding: 4px; width: 130px;}
.admin_menu ul li{ padding: 4px 16px;}
.menu ul li a{ text-decoration: none; color: #FFF;}
.menu ul li:hover{ color:#FFF; background:#004c99; border-radius:10px;}
.menu ul li ul{ padding:0px; margin:0px; position:relative; display:none; z-index:10px; position:absolute; background:#0065cc; border-radius:10px; top:31px; left:0px;}
.menu ul li ul li{width:200px; border-radius:0px 0px 0px 0px !important; border-bottom:1px dashed #FFFFFF; cursor:pointer;}
.menu ul li ul li:first-child{border-radius:10px 10px 0px 0px !important;}
.menu ul li ul li:last-child{ border-bottom:none; border-radius:0px 0px 10px 10px !important;}
.menu ul li:hover ul{ display:inline-block;}


.menu ul li ul li ul{ padding:0px; margin:0px; position:relative; display:none!important; z-index:10px; position:absolute; background:#0065cc; border-radius:10px; top:0px; left:208px;}
.menu ul li ul li ul li{width:200px; border-radius:0px 0px 0px 0px !important; border-bottom:1px dashed #FFFFFF; cursor:pointer;}
.menu ul li ul li ul li:first-child{border-radius:10px 10px 0px 0px !important;}
.menu ul li ul li ul li:last-child{ border-bottom:none; border-radius:0px 0px 10px 10px !important;}
.menu ul li ul li:hover ul{ display:inline-block !important;}

.down_section
{
    border-top: 1px solid #D6AE6A;
    padding: 5px 0px 10px 0px;
    color: #593E0F;
}
.footer_section{    border-top: 6px solid #D6AE6A;}

.down_section h3{ text-align: center; margin: 0px; font-weight: normal; padding: 0px;}

.msg{ text-align: center; margin-top: 225px;}

.msg_inactive{ text-align: center; margin-top: 100px; color:#F00;}

.album_photo{ 
	background:url(img/w_o.png);
	padding:8px;
	margin-bottom:8px;
	display: inline-block;
	height:335px;
	width:335px;
	box-shadow:0 2px 2px rgba(0,0,0, .5);
	border-radius:10px;



}

.album_photo img{ width:auto; height:auto; border-radius:10px;}

.admin_body{ min-height: 480px; background: #ffffff; padding: 10px;}

.login{
	height: 220px;  
	margin: 130px 300px;  
	width: 260px; 
	/*
	background: #0065cc; 
	border: 1px solid #ffffff; 
	border-radius: 20px; 
	color: #ffffff; 
	*/
	padding: 40px 80px 0px 80px ;
	
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

	
	
	}
.login input{ border: 1px solid #ffffff; background:#0065cc; border-radius: 5px; color: #ffffff; font-weight: bold;}
.login legend{ color: #ffffff; font-weight: bold;}

.err_msg{ text-align: center; color: #ff0000; font-weight: normal; margin: 0px;}

.admin_body h1{color: #004c99;  margin-top: 100px;  text-align: center;  text-shadow: 1px 1px 0 #5C3B10;}
.a_c{ text-align: center;}
form{ display: inline-block;}



.button
{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
.button:active
{
    position: relative;
    top: 1px;
}

.button_midium
{
    padding:6px; 
    font-size: 14px; 
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    min-width:80px;
    margin: 3px;
}

.button_white 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	color:#666666;
	text-shadow:1px 1px 0px #ffffff; 
}
.button_white:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background-color:#f6f6f6;
}

.left_side{ float: left; width: 390px; margin-right: 20px;}
.right_side{ float: left; width: 590px;}

div.data_view table{width: 100%;}
div.data_view table tr th{ border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; padding: 6px; background: #dddddd;}
div.data_view table tr th:first-child{ border-left: 1px solid #DDDDDD; }
div.data_view table tr th:last-child{}
div.data_view table tr td{border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; padding: 6px; font-size: 13px;}
div.data_view table tr td:first-child{ border-left: 1px solid #DDDDDD;}
div.data_view table tr.event td{ background:#f5f5f5;}
div.data_view table tr.odd td{ background:#ffffff;}
.delete{ margin-left: 10px;}
.action{ width: 100px;}
.photo{ width: 50px; height: 50px;}


#institute_list{ background:#ffffff; min-height:530px; padding: 2px;}

div.pagination_new{ padding-top: 10px;}
div.pagination_new div.pagi_info{float: right; color:#0000ff;}
div.pagination_new ul{ padding: 0px; margin: 0px; float: left; border: 1px solid #CCCCCC; border-radius: 5px;}
div.pagination_new ul li{ list-style:none; display: inline-block; padding: 5px 10px; border-right: 1px solid #CCCCCC;}
div.pagination_new ul li:last-child{ border: none;}
div.pagination_new ul li.active{ background: #e5e5e5;}
div.pagination_new ul li.pagi_active{ cursor: pointer;}
div.pagination_new ul li.pagi_active:hover{ background:#e5e5e5;}

/* mm new Start */

/* main menu styles */
#nav {
    display:inline-block;
    width:100%;
    margin:0px auto;
    padding:0;
    background:#335599 url(img/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav li {
    margin:5px;
    float:left;
    position:relative;
    list-style:none;
	
	/*z-index:100;*/
	
}
#nav a {
    font-weight:bold;
	font-size:16px;
    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:6px 10px;	
	
    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7); 
}

/* selected menu element */
#nav .current a, #nav li:hover > a {

    background:#7788aa url(img/bg.png) repeat-x 0 -20px;
    color:#000;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7); 
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {

    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {

    background:#335599 url(img/bg.png) repeat-x 0 -100px;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}

/* drop down */
#nav li:hover > ul {
	z-index:100;
    opacity:1;
    visibility:visible;
}
#nav ul {
	/*z-index:1;*/
	
    opacity:0;
    visibility:hidden;
    padding:0;
    width:210px;
	/*width:auto;*/
	white-space:nowrap;	
    position:absolute;
    background:#aabbcc url(img/bg.png) repeat-x 0 0;
    border:1px solid #7788aa;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

    -moz-transition:opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition:opacity .25s linear, visibility .1s linear .1s;
    -o-transition:opacity .25s linear, visibility .1s linear .1s;
    transition:opacity .25s linear, visibility .1s linear .1s;
}
#nav ul li {

    float:none;
    margin:0;
	
}
#nav ul a {

    font-weight:normal;
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
#nav ul ul {
	z-index:100;
    left:210px;
    top:0px;
}



.rborder {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #036;
}

.custom-link {
  font-size: 18px;
  font-weight: normal;
}

/* mm new End */